.App {
  text-align: center;
}
.video-logo {
  position: absolute;
  z-index: 1;
  right: 0;
}
.video-logo img.img-fluid {
  width: 300px;
  float: right !important;
}
.react-player .ytp-chrome-top-buttons {
  white-space: nowrap !important;
  display: none !important;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.react-player {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  left: 0;
  display: block !important;
  top: 0px;
}
.sub-title {
  position: absolute;
  padding: 15px 25px;
  z-index: 9;
}
button.react-butt {
  position: absolute;
  background: aqua;
}
.controls {
  position: absolute;
  z-index: 999;
  color: #ffff;
  display: flex;
  gap: 1.4rem;
  bottom: 44px;
  right: 215px;
}
.list-vidoe {
  background-color: #0000009c;
  position: absolute;
  right: 0;
  z-index: 9;
  width: 300px;
  padding: 50px 41px;
  height: 100%;
}
.list-vidoe h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
}
.list-vidoe .col-8 h4 {
  text-align: left;
  color: #fff;
  font-size: 15px;
  margin-bottom: 2px;
  margin-top: 0px;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root path {
  color: #fff;
  font-size: 20px !important;
}
.arrow-key {
  color: #fff;
  width: 2.3rem !important;
  height: 2.3rem;
}
.list-vidoe .col-4 img {
  width: 100%;
}
.list-vidoe .col-8 h6 { color: #fff;
  text-align: left;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sub-title h3, .sub-title  p {
  color: #ffff;
  text-align: left;
  text-transform: uppercase;
}
.sub-title {
  padding-top: 70px;
  padding-left: 60px;
  padding-right: 60px;
  line-height: 6px;
}
.video-logo{margin-top: 70px;
  margin-left: 60px;
  margin-right: 60px;
  line-height: 6px;}
video {
  height: 100vh;
  width: 100%;
  object-fit: fill; 
  position: absolute;
  left: 0;
}
.video-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 200px;
  background-color: #fff;
}
.video-logo img.img-fluid {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.col-4.list-img img {
  width: 100%;
  height: 100%;
  background-color: #fff;
  object-fit: contain;
}
.col-4.list-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.list-vidoe-mobile{
  display: none;
}
@media(max-width:991px)
{
  .list-vidoe-mobile .row.mb-3 .col-8 {
    text-align: left;
}
  .video-logo {
    position: unset;
}
  .header-div {    padding-top: 12px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: unset;
}
  .header-div .sub-title {
    padding-top:0px !important;
}
.col-4.list-img{height: 70px;
  padding: 8px;}
.list-vidoe-mobile h4 {
  font-size: 18px;
}
.list-vidoe-mobile h6 {
  font-size: 13px;
}
  .sub-title {
    padding-top: 31px;
    padding-left: 18px;
    padding-right: 18px;
    line-height: 6px;
}
.controls{
  display: none;
}
.list-vidoe-mobile{
  display: block;
}
video {    position: unset;
  height: 22vh !important;
  width: 100% !IMPORTANT;

}.react-player {    margin-top: 0px;
  position: unset;
}
.video-logo {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 30px;
}
.sub-title p {
  font-size: 10px !important;
}

.sub-title h3 {
  font-size: 15px !important;
}
.sub-title h3, .sub-title p {
  color: #000;
}
.sub-title {
  position: absolute;
  top: 0;
  padding: 0px 12px;
}
.list-vidoe-mobile .row.mb-3 {
  box-shadow: 15px 0px 7px #00000033;
}
}

@media (max-width:992px) {
  .header-div .sub-title {position: unset;
    padding-top: 31px;
    padding-left: 18px;
    padding-right: 18px;
    line-height: 6px;
}
}